/* PC */
@media (min-width: 1024px) {
	:root {
		--header-height: 68px;
		--navbar-height: 0;
	}

	.hide-on-mobile-tablet {
		display: none;
	}

	.header__cart-list {
		position: fixed;
		top: var(--header-height);
		right: 0;
		width: 100%;
		padding: 0 calc((100% - 644px) / 2);
	}

	.header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
	}

	.header__cart-list::after {
		display: none;
	}

	.main__container {
		margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
	}

	.header__sort-bar {
		display: flex;
	}

	.main__content {
		padding-top: 8px;
	}

	.mobile-category {
		display: block;
	}









	/* resposive mobile */

	.img-mobile {
		display: none;
	}

	.header__navbar-item-mobile {
		display: none;
	}



	.wrapper__voucher-mobile {
		display: none;
	}

	.shopee-mall-sub-heading-mobile {
		display: none;
	}

	.wrapper__shopee-mall-content-mobile {
		display: none;
	}

	.wrapper__category-mobile {
		display: none;
	}
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
	.hide-on-tablet {
		display: none;
	}

	.header__cart {
		width: 80px;
		text-align: right;
	}

	.header__search {
		margin-top: 14px;
	}

	.header__cart-wrap {
		position: relative;
		top: 6px;
	}
}

/* Mobile */
@media (max-width: 739px) {
	.header-mobile {
		padding: 10px;
		background-image: none !important;
		position: relative;
	}

	.hide-on-mobile-tablet {
		display: none;
	}

	.hide-on-mobile-logo {
		display: none;
	}

	.header__search-mobile {
		max-width: 244px;
		height: 36px;
		margin-left: 10px;
	}

	.header__search-select-mobile {
		display: none;
	}

	.header__search-input:focus~.header__search-history {
		/* display: none; */
	}

	.header__search-btn {
		position: relative;
		width: 0;
		height: 0;
		background-color: transparent !important;
	}

	.header__search-btn i {
		position: absolute;
		top: -5px;
		right: 6px;
		color: #bbb;
	}

	.header__search-btn:hover {
		background-color: transparent !important;
	}

	.header__product {
		display: none;
	}

	.main_image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 110px;
		object-position: center;
		object-fit: cover;
		z-index: -1;
	}

	.main_img .swiper-pagination {
		position: absolute !important;
		bottom: 15px !important;
	}

	.sub-main_img {
		display: none;
	}

	.img-pc {
		display: none;
	}

	.img-mobile {
		display: block;
	}

	.header__navbar-item-mobile {
		display: block;
	}

	.header__cart {
		width: 30px;
		position: relative;
		top: -2px;
		margin-left: 10px;
	}

	.header-with-search {
		display: flex;
		align-items: center;
		/* justify-content: spa; */
	}

	.header__navbar-item-mobile {
		position: relative;
		right: -12px;
		top: 2px;
	}

	.header__navbar-item-mobile .header__navbar-user-img {
		height: 30px;
		width: 30px;
	}

	.header__cart-notice {
		display: none;
	}

	.header__search-input {
		display: none;
	}

	.header__search-input-mobile {
		display: block;
	}

	.header__search-input-mobile::placeholder {
		color: #ee4d3a;
	}

	.header__navbar-user-menu {
		position: absolute;
		z-index: 1;
		padding-left: 0;
		top: calc(100% + 10px);
		right: -10px;
		background-color: var(--white-color);
		border-radius: 2px;
		width: 139px;
		list-style-type: none;
		box-shadow: 0 1px 3px #e0e0e0;
		display: none;
	}

	.wrapper__voucher-list {
		position: relative;
		top: -176px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-bottom: 0;
	}

	.wrapper__voucher-item {
		width: 82px;
		margin: 10px -7px;
		height: 74px;
		position: relative;
		top: -14px;
	}

	.wrapper__voucher-item span {
		font-size: 1rem;
	}

	.wrapper__voucher-mobile {
		display: block;
		width: 375px;
		height: 113px;
		margin-top: -10px;
	}

	.wrapper__voucher-mobile img {
		width: 100%;
		height: 100%;
	}

	.wrapper__voucher-list {
		background-color: #ffe7a7;
		margin-top: -2px;
	}

	.wrapper__category {
		display: none;
	}

	.wrapper__fsale {
		position: relative;
		top: -185px;
	}

	.btn-swiper-fsale {
		display: none;
	}

	.wrapper__fsale-box .img-product,
	.wrapper__fsale-box .img-sale {
		width: 139px;
		height: 139px;
	}

	.wrapper__fsale-box .box-img .img-product .img-sale {
		width: 100%;
		height: 100%;
	}

	.box-price p {
		color: var(--primary-color);
		text-align: center;
		font-size: 1.4rem;
	}

	.price-hot {
		margin-top: 10px;
	}

	.selling {
		width: 115px;
		height: 12px;
	}

	.sale-hot {
		margin-top: 6px;
	}

	.selling .selling-title {
		font-size: 0.9rem;
	}

	.selling-icon img {
		width: 15px;
		height: 16px;
	}

	.wrapper__fsale-img {
		display: none;
	}

	.shopee-mall-logo {
		left: 10px;
		position: absolute;
	}

	.shopee-mall-heading .shopee-mall-logo span {
		font-size: 1.6rem;
		font-weight: 500;
	}

	.shopee-mall-sub-heading {
		display: none;
	}

	.wrapper__shopee-mall {
		position: relative;
		top: -176px;
	}

	.shopee-mall-heading {
		position: relative;
	}

	.shopee-mall-heading::after {
		content: "";
		display: block;
		position: absolute;
		border-bottom: 1px solid #D8D8D8;
		width: 100%;
		left: 0;
		bottom: 0;
	}

	.shopee-mall-logo::after {
		border-left: none;
	}

	.shopee-mall-right-heading {
		position: absolute;
		right: 10px;
	}

	.shopee-mall-sub-heading {
		position: relative;
	}

	.wrapper__shopee-mall-content {
		/* display: none; */
	}

	.shopee-mall-sub-heading-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 999;
	}

	.wrapper__shopee-mall-content {
		display: none;
	}

	.wrapper__shopee-mall-content-mobile {
		display: block;
	}

	.content_img {
		width: 355px;
		height: 106px;
	}

	.shopee-mall-content-left {
		width: 355px;
		height: 106px;
	}

	.btn-swiper-shopee-mall {
		display: none;
	}

	.content-right-list {
		display: flex;
	}

	.content-right-item {
		width: 134px;
		height: 160px;
	}

	.content-right-item img {
		width: 99%;
		height: 100%;
	}

	.shopeemall-box-mobile {
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
		border-radius: 2px;
		cursor: pointer;
		width: 134px;
		height: 160px;
		border: 1px solid #ddd;
		margin-top: 20px;
		padding-bottom: 10px;
	}


	.content-right-item span {
		font-size: 1.3rem;
		padding: 6px 0;
		font-weight: 600;
	}

	.wrapper__fsale-product-mobile .swiper-slide {
		width: 134px !important;
		height: 160px !important;
		margin-bottom: 30px !important;
	}

	.wrapper__category-mobile {
		display: block;
		position: relative;
		top: -164px;
	}

	.wrapper__category-list-item {
		display: flex;
	}

	.wrapper__category-box-list {
		display: flex;
		flex-direction: column;
	}

	.wrapper__category-content .title {
		color: #ee4d3a;
	}

	.wrapper__category-item {
		border: none;
	}

	.wrapper__category-item span {
		font-size: 1.2rem;
	}

	.wrapper__category-box {
		margin-top: -24px;
	}

	.header__cart-wrap:hover .header__cart-list {
		display: none;
	}

	.footer {
		position: relative;
		top: -220px;
	}

	.footer__bottom {
		display: none;
	}

	.footer__content {
		padding-left: 20px;
	}

	.col-shopee-mobile .footer-list {
		margin-top: 31px;
	}

	.col-shopee-mobile,
	.col-follow-mobile {
		margin-left: 12px;
		max-width: 160px;
	}

	.wrapper__category-list-under {
		margin-top: -20px;
	}

	/* page product */
	.header__logo {
		display: none;
	}

	.header__search-select {
		display: none;
	}

	.header__cart-page-mobile {
		display: none;
	}

	.product-heading-left {
		position: absolute;
		top: -30px;
		padding-left: 0;
	}

	.product-background {
		position: relative;
		border-radius: 0;
		overflow: hidden;
		width: 376px;
		height: 140px;
		background: rgba(75, 63, 90, .7);
	}

	.product-personal-name {
		position: absolute;
		left: 92px;
		font-size: 1.8rem;
		color: #fff;
		text-shadow: none;
		font-weight: 500;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.product-personal-shop .onl {
		position: absolute;
		left: 92px;
		top: 43px;
		font-size: 1.2rem;
		color: #fff;
		text-shadow: none;
	}

	.product-personal-btn {
		display: none;
	}

	.product-personal-shop {
		position: relative;
		top: 56px;
	}

	.product-personal {
		border: .0625rem solid var(--nc-util-line, rgba(0, 0, 0, .09));
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}

	.product-background .bg {
		border-radius: 0;
	}

	.product-heading-mid {
		display: none;
	}

	.product-heading-right {
		display: none;
	}

	.header__sort-bar {
		display: none;
	}

	.product-personal-btn-mobile {
		display: block;
		width: 94px;
		height: 28px;
		outline: none;
		border: 1px solid #fff;
		border-radius: 2px;
		background-color: transparent;
		color: #fff;
		position: absolute;
		right: 20px;
		bottom: -48px;
		font-size: 1.4rem;
	}

	.page-left-icon {
		display: block !important;
		color: #fff;
		font-size: 2.2rem;
		position: absolute;
		left: 14px;
		top: 18px;
	}

	.page-3dot-icon {
		display: block !important;
		color: #fff;
		font-size: 2.2rem;
		position: absolute;
		right: 14px;
	}

	.header__search-page {
		height: 36px;
		width: 273px;
		background: rgba(0, 0, 0, .26);
		flex: none;
		margin-left: 30px;
	}

	.header__search-input-page-mobile {
		display: block;
		background-color: transparent;
		color: #fff;
	}

	.header__search-page .header__search-input-page-mobile::placeholder {
		color: #bbb;
	}

	.product__heading-list {
		display: none;
	}

	.product__heading-list-mobile {
		display: flex;
		align-items: center;
		justify-content: space-around;
		position: relative;
		top: 17px;
		background-color: #fff;
		height: 40px;
		z-index: 999999;
	}

	.product__heading-list-mobile span {
		font-size: 1.4rem;
	}

	.product__heading-list-mobile .active-product {
		text-transform: capitalize;
		font-weight: 500;
	}

	.list-item .active-product::after {
		display: block;
		content: "";
		position: absolute;
		border-bottom: 2px solid var(--primary-color);
		width: 150%;
		height: 26px;
		top: 0;
		left: -17px;
	}

	.product__heading-list-mobile-sub {
		display: flex !important;
		position: relative;
		top: 10px;
		align-items: center;
		justify-content: space-between;
		padding: 20px 20px 14px 20px;
		background-color: #fff;
		box-shadow: 0 12px 1px 0 rgba(0, 0, 0, .12);
	}

	.sub-mobile-list-item span {
		font-size: 1.4rem;
		color: #666;
	}

	.sub-mobile-list-item--separate {
		position: relative;
	}

	.sub-mobile-list-item--separate::after {
		position: absolute;
		content: "";
		display: block;
		height: 13px;
		background-color: rgba(0, 0, 0, 0.2);
		right: -23px;
		width: 0.01rem;
		top: 50%;
		transform: translateY(-50%);
	}

	.sub-mobile-list-item .dot {
		position: relative;
	}

	.sub-mobile-list-item .dot-active {
		position: absolute;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #ee4d3a;
		margin-left: 2px;
	}

	.sub-active-product {
		color: #ee4d3a !important;
	}

	.sub-mobile-list-item i {
		color: #888;
		position: relative;
		top: -1px;
	}

	.home-product {
		position: relative;
		top: -104px;
		padding: 0 6px;
		background-color: #fff;
	}

	.pagination {
		display: none;
	}

	.footer-page-mobile {
		position: relative;
		top: -97px;
		padding-bottom: 40px;
	}

	/* Detail Product Page */
	.header-detail-product-mobile {
		display: none;
	}

	.header-detail-mobile {
		display: flex;
		align-items: center;
		padding: 10px 20px;
	}

	.header-detail-mobile a {
		text-decoration: none;
		z-index: 999;
	}

	.header-detail-mobile .fa-arrow-left {
		color: #fff;
		font-size: 2rem;
		margin-right: 20px;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.26);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
	}

	.header-detail-mobile span {
		font-size: 2.1rem;
		color: #333;
		white-space: nowrap;
		width: 250px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: none;
	}

	.header__cart-icon {
		color: #fff;
		font-size: 2rem;
		position: relative;
		top: -2px;
		z-index: 100;
	}

	.header__cart-wrap-active {
		margin-right: 12px;
		position: absolute;
		margin-right: -30px;
		right: 100px;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, .26);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
	}

	.header-detail-mobile .fa-ellipsis {
		color: #fff;
		font-size: 2rem;
		position: absolute;
		right: 20px;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, .26);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
	}

	.header__cart-icon::after {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #ee4d3a;
		top: 0;
		display: block;
	}

	.main__product-detail {
		position: relative;
		top: -100px;
	}

	.main__content-detail .product_img-sub {
		display: none;
	}

	.social-detail {
		display: none;
	}

	.product_img-detail-mobile {
		display: block !important;
		position: relative;
		top: -70px;
		z-index: 1 !important;
	}

	.product_img-detail-mobile .img {
		width: 375px !important;
		height: 375px !important;
	}

	.product_img-detail {
		display: none;
	}

	.main__content-detail {
		background-color: var(--white-color);
		padding: 0;
		box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.05);
	}

	.content_product-detail {
		padding: 0 12px;
		margin-bottom: -8px;
		background-color: #fff;
	}

	.content_product-detail .content_btn-detail {
		display: none;
	}

	.content_product-detail .content-detail {
		font-size: 1.7rem;
	}

	.statistical-detail {
		padding-left: 12px;
	}

	.statistical-detail span {
		font-size: 1.6rem;
		color: #ee4d3a;
		border-bottom: none;
	}

	.statistical_star i {
		font-size: 1.3rem;
	}

	.border-detail::after {
		height: 12px;
	}

	.evaluate-detail .evaluate-detail-sum {
		font-size: 1.6rem;
	}

	.evaluate-detail,
	.saled-detail {
		font-size: 1.4rem;
	}

	.saled-detail span {
		font-size: 1.6rem;
	}

	.product_price-detail {
		padding-left: 12px;
		font-size: 1.6rem;
	}

	.product_price-detail .home-product-item__price-oldd {
		font-size: 1.6rem;
	}

	.home-product-item__price-currentt {
		font-size: 2rem;
	}

	.product_sales-detail {
		font-size: 1rem;
	}

	.product_insurance-detail {
		box-shadow: 0 0px 1px 0 rgba(0, 0, 0, .12);
		/* padding-top: 10px; */
		background-color: #fff;
		padding: 0 12px;
		position: relative;
		top: -18px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.product_insurance-detail .insurance {
		display: none;
	}

	.container_product-detail {
		background-color: #f5f5f5;
		max-width: 375px;
		position: relative;
		top: 5px;
	}

	.bg {
		background-color: #fff;
		padding-bottom: 10px;
		box-shadow: 0 0px 1px 0 rgba(0, 0, 0, .12);
	}

	.product_ship-detail {
		display: none;
	}

	.truck-icon-mobile {
		display: block !important;
		padding: 0 12px;
		color: #555;
	}

	.sub-ship-detail-money .money-transfer {
		color: #000;
	}

	.sub-ship-detail {
		display: none;
	}

	.sub-ship-detail-money {
		background-color: #fff;
		box-shadow: 0 0px 1px 0 rgba(0, 0, 0, .12);
		position: relative;
		left: -143px;
		width: 375px;
		top: -5px;
		padding: 1px 0;
	}

	.shipping-mobile {
		display: block;
	}

	.shipping-money-detail {
		right: 20px;
		z-index: 100;
	}

	.color-detail,
	.size-detail,
	.quantity-detail,
	.btn_add-detail {
		display: none;
	}

	.product__page-shop {
		position: relative;
		top: -106px;
	}

	.page-shop-left-img {
		width: 60px;
		height: 60px;
	}

	.page-shop-left-name {
		margin-top: -4px;
	}

	.page-shop-left-name .name-shop {
		font-size: 1.5rem;
	}

	.page-shop-left-name .shop-onl {
		font-size: 1.2rem;
	}

	.page-shop-left-btn .btn-chat {
		height: 29px;
		width: 90px;
		font-size: 1.2rem;
		margin-left: -18px;
		margin-top: 6px;
	}

	.page-shop-left-btn .btn-view {
		height: 29px;
		width: 90px;
		font-size: 1.2rem;
		margin-left: 10px;
		margin-top: 6px;
	}

	.product__page-shop-right {
		display: none;
	}

	.wrapper__page-detail-mobile {
		display: block;
		background-color: #fff;
		position: relative;
		top: -112px;
		box-shadow: 0 0px 1px 0 rgba(0, 0, 0, .12);
	}

	.page-detail-mobile-heading .heading {
		font-size: 1.3rem;
		text-transform: uppercase;
		margin-left: -10px;
		color: #666;
	}

	.page-detail-mobile-box {
		height: 200px;
		box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
	}

	.product-detail {
		position: relative;
		top: -100px;
		background-color: #fff;
	}

	.product-detail-heading span {
		font-size: 1.4rem;
	}

	.product-detail-container .heading {
		display: none;
	}

	.product-detail-container .sub {
		display: none;
	}

	.product-detail-heading {
		box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
	}

	.product-detail-product {
		box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
	}

	.footer-page-detail {
		position: relative;
		top: -100px;
		padding-bottom: 130px;
	}

	/* cart */
	.header-cart {
		display: none;
	}

	.header-cart-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		padding: 10px 14px;
	}

	.header-cart-left {
		display: inline-flex;
		align-items: center;
	}

	.header-cart-left i {
		font-size: 2.2rem;
		color: #ee4d3a;
		margin-right: 18px;
	}

	.header-cart-left span {
		font-size: 1.4rem;
	}

	.header-cart-right span {
		font-size: 1.4rem;
	}

	.header-name-column-cart {
		display: none;
	}

	.header-voucher-cart {
		position: relative;
		top: -22px;
	}

	.cart-container {
		position: relative;
		top: -22px;
	}

	.container-name-brand input {
		margin-left: -10px;
	}

	.container-product-cart {
		padding: 0;
	}

	.product-action {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.container-product-cart .checkbox {
		position: absolute;
		margin-left: 11px;
	}

	.product-cart {
		width: 330px;
		position: absolute;
		left: 40px;
	}

	.product-money {
		display: none;
	}

	.product-cart span {
		position: relative;
		top: -33px;
		font-size: 1.4rem;
		white-space: nowrap;
		width: 350px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.product-price .price-old {
		display: none;
	}

	.product-price .price-cur {
		position: absolute;
		left: 130px;
		top: 97px;
		color: #ee4d3a;
	}

	.product-sum {
		position: absolute;
		left: 130px;
		bottom: 75px;
	}

	.container-name-brand {
		height: 46px;
	}

	.container-name-ticket {
		height: 46px;
	}

	.container-name-ticket i {
		margin-left: -4px;
	}

	.voucher-buy-cart {
		display: none;
	}

	.coins-buy-cart {
		display: none;
	}

	.checkout-buy-cart .checkout-left-cart {
		display: none;
	}

	.container-buy-cart {
		position: relative;
		top: -13px;
		padding: 0;
	}

	.checkout-right-cart {
		display: flex;
		align-items: center;
		right: 20px;
		position: absolute;
		top: 35px;
	}

	.checkout-right-cart .price-text {
		font-size: 1.5rem;
	}

	.checkout-right-cart .price-checkout {
		font-size: 1.6rem;
	}

	.checkout-right-cart a .btn-checkout {
		max-width: 124px;
		font-size: 1.4rem;
	}

	.checkout-right-cart i {
		font-size: 1.1rem;
	}

	.detail-checkout-container {
		right: 20px;
		max-width: 300px;
		height: 210px;
		padding: 16px;
	}

	.detail-checkout-heading span {
		font-size: 1.6rem;
	}

	.detail-sum-product span {
		font-size: 1.3rem;
	}

	.detail-sale-product span {
		font-size: 1.3rem;
	}

	.detail-tk-product span {
		font-size: 1.3rem;
	}

	.footer-cart {
		position: relative;
		top: -30px;
		padding-bottom: 160px;
	}

	/* checkout */
	.header-checkout {
		display: none;
	}

	.header-checkout-mobile {
		display: flex;
		background-color: #fff;
		padding: 10px 20px;
	}

	.header-checkout-mobile i {
		color: #ee4d3a;
		font-size: 2rem;
	}

	.header-checkout-mobile span {
		font-size: 2rem;
		margin-left: 100px;
	}

	.checkout-heading-line {
		display: none;
	}

	.line-mobile {
		display: block;
	}

	.address_checkout,
	.column-header-checkout {
		display: none;
	}

	.address_checkout-mobile {
		display: block;
		padding: 10px 14px;
		font-size: 1.4rem;
		position: relative;
		top: -46px;
		color: #333;
		max-width: 375px;
	}

	.address-checkout-mobile {
		display: flex;
		align-items: center;
	}

	.address-checkout-mobile i {
		color: #ee4d3a;
	}

	.address-checkout-mobile p {
		margin-left: 10px;
	}

	.address_info-mobile .name {
		margin-left: 20px;
		position: relative;
		top: -10px;
	}

	.address_info-mobile .name::after {
		position: absolute;
		display: block;
		content: "";
		height: 14px;
		top: 50%;
		right: -13px;
		width: 1px;
		transform: translateY(-50%);
		background-color: #ccc;
	}

	.address_info-mobile .phone {
		margin-left: 20px;
		position: relative;
		top: -10px;
	}

	.address_location-mobile {
		margin-left: 20px;
		position: relative;
		top: -5px;
	}

	.checkout__wrapper {
		position: relative;
		top: -48px;
		max-width: 375px;
		width: 100%;
	}

	.product_checkout {
		height: 277px;
	}

	.product_checkout .name-product-checkout {
		position: relative;
		background: #fff;
		top: -10px;
		padding: 12px 20px
	}

	.container-product-checkout {
		position: relative;
		font-size: 13px;
		background-color: #f6f6f6;
		top: 6px;
		height: 100px;
	}

	.checkout-container {
		position: relative;
		top: -22px;
		width: 375px;
		background: #fff;
		margin: auto;
	}

	.product-checkout img {
		width: 68px;
		height: 68px;
		margin-left: -20px;
	}

	.product-checkout span {
		font-size: 1.4rem;
		color: rgba(0, 0, 0, .54);
		margin-top: 12px;
	}

	.product-checkout .mobile-size {
		display: block;
		position: absolute;
		left: 59px;
		top: 7px;
		font-size: 12px;
	}

	.product-sum-checkout {
		position: absolute;
		top: 26px;
		font-size: 1.3rem;
		margin-left: 220px;
		color: rgba(0, 0, 0, .54);
	}

	.product-price-checkout .price-cur {
		position: absolute;
		top: 62px;
		margin-left: 165px;
		color: rgba(0, 0, 0, .54);
	}

	.product-money-checkout span {
		display: none;
	}

	.container-checkout-ticket .choose-voucher {
		display: none;
	}

	.insurace-checkout-mobile {
		display: flex;
		background-color: #fff;
		padding: 20px 16px;
		flex-direction: column;
	}

	.insurace-content {
		display: flex;
		align-items: center;
	}

	.insurace-content input {
		width: 25px;
		height: 17px;
	}

	.insurace-content .insurance-mobile {
		font-size: 1.4rem;
		margin-left: 4px;
	}

	.insurace-content .active {
		border-radius: 8px 8px 8px 0;
		background-color: #ee4d2d;
		padding: 2px 4px;
		color: #fff;
		margin-left: 4px;
	}

	.insurace-content .price {
		color: rgba(0, 0, 0, .54);
		font-size: 1.2rem;
		margin-left: auto;
	}

	.insurance-text span {
		font-size: 1.2rem;
		margin-left: 29px;
		display: block;
		margin-top: 6px;
	}

	.more {
		color: #08f;
	}

	.container-checkout-ticket {
		height: 46px;
		border-top: 1px solid #ddd;
	}

	.container-checkout-ticket span {
		margin-right: auto;
		font-size: 1.4rem;
	}

	.container-checkout-ticket i {
		margin-left: 2px;
	}

	.container-shipping-mess {
		display: none;
	}

	.container-shipping-mess-mobile {
		display: block;
		border-bottom: 1px solid #b4e5de;
		border-color: #b4e5de currentcolor;
		border-top: 1px solid #b4e5de;
		background-color: #f7fffe;
		padding: 10px 14px;
		position: relative;
		top: -21px;
	}

	.shipping-mess-mobile-header {
		color: #00bfa5;
		font-size: 1.4rem;
		border-bottom: 1px solid #b4e5de;
		height: 24px;
	}

	.shipping-mess-mobile-fax {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
	}

	.shipping-mess-mobile-fax .mobile-fax {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.4rem;
	}

	.shipping-mess-mobile-fax .mobile-date {
		margin-top: 4px;
		font-size: 1.4rem;
		color: rgba(0, 0, 0, .54);
		position: relative;
	}

	.shipping-mess-mobile-fax .mobile-date::after {
		position: absolute;
		content: "";
		width: 100%;
		left: 0;
		border-bottom: 1px solid #ee4d2d;
		bottom: -10px;
	}

	.shipping-mess-mobile-under {
		font-size: 1.4rem;
		padding: 10px 0 5px 0;
	}

	.container-mess-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #ddd;
		padding: 6px 14px 7px 14px;
		position: relative;
		top: -21px;
		background-color: #fff
	}

	.container-mess-mobile span {
		font-size: 1.4rem;
	}

	.container-mess-mobile input {
		outline: none;
		padding: 10px;
		border: none;
		font-size: 1.4rem;
		margin-left: 10px;
		width: 105px;
	}

	.container-mess-mobile input::placeholder {
		color: #bbb;
	}

	.container-checkout-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 14px;
		background-color: #fff;
		position: relative;
		top: -21px;
	}

	.container-checkout-mobile span {
		font-size: 1.4rem;
	}

	.container-checkout-mobile .sum-mobile {
		color: #ee4d2d;
		font-size: 1.7rem;
	}

	.main-checkout-mobile {
		background-color: #f5f5f5;
	}

	.payment_checkout {
		display: none;
	}

	.voucher-ticket-mobile {
		display: flex !important;
		background-color: #fff;
		padding: 15px 14px;
		position: relative;
		align-items: center;
		justify-content: space-between;
		bottom: -243px;
	}

	.ticket-checkout {
		display: flex;
		align-items: center;
	}

	.ticket-checkout i {
		font-size: 1.8rem;
		color: #ee4d2d;
		margin-right: 8px;
	}

	.ticket-checkout span {
		font-size: 1.4rem;
	}

	.voucher-ticket-mobile .choose-voucher-mobile {
		color: #757575;
		font-size: 1.4rem;
	}

	.payment-checkout-mobile {
		display: flex;
		position: relative;
		top: 254px;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		padding: 0px 14px;
		height: 90px;
	}

	.payment-checkout-mobile-left {
		display: flex;
		align-items: center;
		margin-top: -40px;
	}

	.payment-checkout-mobile-left i {
		font-size: 1.8rem;
		color: #ee4d2d;
		margin-right: 8px;
		position: relative;
		top: -2px;
	}

	.payment-checkout-mobile-left span {
		font-size: 1.3rem;
	}

	.payment-checkout-mobile-right {
		display: flex;
		align-items: center;
		margin-top: -40px;
	}

	.payment-checkout-mobile-right span {
		font-size: 1.3rem;
	}

	.payment-checkout-mobile-right i {
		font-size: 1.4rem;
		margin-left: 4px;
		color: #757575;
	}

	.pay-shopee-mobile {
		display: block;
		position: relative;
		top: 210px;
		background-color: #fef7e7;
		color: #f6a700;
		border: .5px solid #f6a700;
		padding: 8px 12px;
		font-size: 12px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.sum-pay-mobile {
		position: relative;
		top: 223px;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		padding: 16px 14px;
		border-top: 1px solid #ddd;
	}

	.sum-pay-mobile-left {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.4rem;
		color: rgba(0, 0, 0, .54);
		margin-bottom: 6px;
	}

	.sum-pay-mobile-right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.4rem;
		color: rgba(0, 0, 0, .54);
	}

	.sum-pay-mobile-left .active,
	.sum-pay-mobile-right .active {
		color: #ee4d2d;
	}

	.pay-order-mobile {
		position: relative;
		top: 234px;
		background-color: #fff;
		display: flex;
		align-items: center;
	}

	.pay-order-mobile-left {
		display: flex;
		flex-direction: column;
		margin-left: 196px;
	}

	.pay-order-mobile-left span {
		font-size: 1.4rem;
		color: rgba(0, 0, 0, .54);
	}

	.pay-order-mobile-left .active {
		color: #ee4d2d;
		font-size: 1.6rem;
	}

	.pay-order-mobile-right {
		border: none;
		background-color: #ee4d2d;
		color: #fff;
		font-size: 1.6rem;
		height: 46px;
		width: 100px;
		margin-left: auto;
	}

	.under-mobile {
		display: block;
		position: relative;
		top: 180px;
		padding-bottom: 326px;
	}

	.footer-checkout {
		display: none;
	}

	.footer__content-mobile {
		display: none;
	}

	.footer-addcart-checkout-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		height: 60px;
		background-color: #00bfa5;
		padding-left: 20px;
	}

	.footer-addcart-checkout-mobile a {
		height: 100%;
	}

	.footer-addcart-checkout-mobile .checkout-mobile-box {
		display: inline-flex;
		flex-direction: column;
		color: var(--white-color);
		font-size: 1.4rem;
		background-color: #00bfa5;
		height: 100%;
		text-align: center;
		align-items: center;
		justify-content: center;
		margin-left: 14px;
		text-decoration: none;
	}

	.checkout-mobile-box-separation {
		position: relative;
		left: -9px;
	}

	.checkout-mobile-box-separation::after {
		position: absolute;
		content: "";
		height: 100%;
		border: 1px solid rgba(255, 255, 255, .09);
		right: -24px;
	}

	.checkout-mobile-box i {
		font-size: 20px;
	}

	.checkout-mobile-box span {
		font-size: 1rem;
		margin-top: 4px;
	}

	.btn-buynow {
		height: 100%;
		width: 180px;
	}
	
	/* login page */
    .main-login{
        background: var(--white-color);
    }

    .auth-form{
        max-width: 376px;
        margin: 0 auto;
        padding: 0;
        border-radius: 0;
        top: 10px;
        transform: translateY(0);
        padding: 0 20px;
        position: relative;
    }

    .auth-form__header a{
		display: block;
        text-decoration: none;
    }

    .auth-form__header .fa-arrow-left{
        font-size: 2.4rem;
        color: var(--primary-color);
    }

    .auth-form__header .auth-form__heading{
        position: absolute;
        left: 56px;
        font-size: 2rem;
    }

    .auth-form__header .fa-circle-question{
        font-size: 2rem;
        color: var(--primary-color);
    }

    .auth-form__switch-btn{
        display: none;
    }

    .auth-form__header i{
        display: block;
    }

    .header__logo-img-login{
        display: block;
        margin: 60px auto 40px;
        width: 50px;
        height: 60px;
    }

    .auth-form__group i{
        display: block;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.65);
        margin-left: 6px;
    }

    .auth-form__group{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: 10px 0;
    }

    .auth-form__group .auth-form__input{
        border: none;
        font-size: 1.6rem;
        color: rgba(0, 0, 0, 0.65);
        margin-left: 10px;
    }
    .auth-form__group .auth-form__input::placeholder{
        color: rgba(0, 0, 0, 0.4);
    }

    .auth-form__controls{
        margin-top: 20px;
    }

    .auth-footer{
        padding-top: 0;
    }
    
    /* register page */
    .auth-form__container-mobile {
       padding-top: 10px;
    }
    
    .auth-form__header-mobile{
        padding-bottom: 20px;
    
    }
    
    /* history Purchase */
	.header-mobile-history{
        display: none;
    }

    .header-history-mobile{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 14px 20px;
    }

    .header-history-left .fa-arrow-left{
        font-size: 2.4rem;
        color: var(--primary-color);
    }

    .header-history-mobile span{
        font-size: 1.8rem;
        margin-left: 20px;
    }

    .header-history-right i {
        font-size: 2rem;
        color: var(--primary-color);
    }

    .header-history-right .fa-comments{
        margin-left: 10px;
    }

    .header-tab-list{
        display: none !important;
    }

    .form-history{
        display: none;
    }

    .list-product-heading-list .btn-chat{
        display: none ;
    }

    .list-product-heading-list .view-shop {
        display: none;
    }

    .history-list-product-checkout .checkout{
        margin-top: -12px !important;
        position: relative;
    }

    .history-list-product-checkout .checkout .price{
        font-size: 1.5rem !important;
    } 

    .list-product-heading-list .fa-circle-question,
    .list-product-heading-list .fa-truck,
    .list-product-heading-list .complete{
        display: none;
    }

    .list-product-heading-list-mobile{
        display: flex !important;
        font-size: 1.4rem;
        color: #26AA99;
    }

    .list-product-heading-list-mobile .fa-truck{
        margin-right: 4px;
    }
}